.guess-button {
  background-color: cadetblue;
  padding: 8px;
  margin: 8px;
  color: white;
  min-width: 32px;
  border: unset;
  outline: unset;
  border-radius: 10px;
  box-shadow: inset 1px -1px 8px 0px black;
}

.guess-button:hover {
  background-color: cornflowerblue;
}
